.products-container {
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: start;
  margin-left: 5%;
  margin-top: 30px;
  width: 67%;
}

.product-card-price {
  display: flex;
  flex-direction: row;
}

.product-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 190px;
}

.products-sidebar {
  display: flex;
  float: left;
  justify-content: center;
  margin-top: 30px;
  width: 20%;
}

.cart {
  color: #036b52;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  width: 90%;
}

.quantity-controls-quantity {
  width: 40px;
}

.product-card-name {
  font-size: 11px;
}
