body {
  background-color: rgb(253, 251, 251);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

#cabecalho {
  position: fixed;
  height: 100px;
  top: 0;
}

#titulo {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
  margin-right: 100px;
}

img {
  margin-left: 30px;
}

table {
  width: 400px;
  text-align: center;
}

#licoes_aprendidas {
  color: green;
  display: inline-block;
  margin-left: 100px;
}

#licoes_a_aprender {
  color: blue;
  display: inline-block;
  margin-left: 100px;
}

.lado-esquerdo {
  float: left;
  width: 58%;
  margin-left: 30px;
  border: 3px dotted black;
  padding: 5px;
}

.lado-direito {
  float: right;
  width: 36%;
  border: 3px dotted black;
  padding: 5px;
}

#rodape {
  right: 10px;
  bottom: 10px;
  position: fixed;
}

#lados {
  width: 96%;
}
